@model IEnumerable<pjtSPEF.Models.ViewModels.BreadcrumbItem>

<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        @foreach (var item in Model)
        {
            if (string.IsNullOrEmpty(item.Url))
            {
                <li class="breadcrumb-item active" aria-current="page">@item.Texto</li>
            }
            else
            {
                <li class="breadcrumb-item"><a href="@item.Url">@item.Texto</a></li>
            }
        }
    </ol>
</nav>
